<div class="px-6 py-5">

    <div class="mb-6">
        <div class="flex mb-3 justify-content-between align-items-center">
            <div class="text-xl font-semibold">Propuestas de Materia</div>
            <div class="flex gap-3">
                <p-button type="submit" size="small" (click)="verProfesores()" label="Ver profesores" severity="danger"></p-button>
                <p-button type="submit" size="small" (click)="verMaterias()" label="Ver materias" severity="danger"></p-button>
                <p-button type="submit" size="small" (click)="verSemilleros()" label="Ver semilleros" severity="danger"></p-button>
            </div>
        </div>
        <p-table [value]="propuestasDeMaterias" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre de la propuesta</th>
                    <th>Nombre de estudiante/s</th>
                    <th>Codigo de estudiante/s</th>
                    <th>Codigo de materia</th>
                    <th>Profesor</th>
                    <th>Editar</th>
                    <th>Calificar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-propuesta>
                <tr>
                    <td>{{ propuesta.nombre }}</td>
                    <td>{{ propuesta.proponente.nombre }}</td>
                    <td>{{ propuesta.proponente.codigo }}</td>
                    <td>{{ propuesta.materia.id }}</td>
                    <td>{{ propuesta.profesor.nombre }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div>
        <div class="text-xl mb-3 font-semibold">Propuestas de Semillero</div>
        <p-table [value]="propuestasDeSemillero" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre de la propuesta</th>
                    <th>Nombre de estudiante/s</th>
                    <th>Codigo de estudiante/s</th>
                    <th>Codigo de semillero</th>
                    <th>Profesor</th>
                    <th>Editar</th>
                    <th>Calificar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-propuesta>
                <tr>
                    <td>{{ propuesta.nombre }}</td>
                    <td>{{ propuesta.proponente.nombre }}</td>
                    <td>{{ propuesta.proponente.codigo }}</td>
                    <td>{{ propuesta.materia.id }}</td>
                    <td>{{ propuesta.profesor.nombre }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>