<div class="flex flex-wrap h-screen w-screen overflow-x-hidden overflow-y-hidden">
    <div class="hidden lg:block w-full lg:w-6 px-0 py-4 lg:p-7 bg-red-custom 
                justify-content-center align-content-center">
        <img src="/assets/images/logoufps.png" width="500">
    </div>
    <div class="w-full lg:w-6 px-4 pt-6 pb-6 lg:px-7 overflow-y-auto overflow-x-hidden
                justify-content-center align-content-center">
        <router-outlet></router-outlet>
    </div>
</div>